@import './contants.scss';

:root {
  --bg-color: #F4F5F7;
  --text-color: #333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Noto Sans JP;
  font-style: normal;
  line-height: normal;

  a {
    color: var(--text-color);
    transition-duration: 2.5s;
  }
}

body.dark-theme {
  --bg-color: #333;
  --text-color: #ddd;
  --header-bg-color: #222;
  --openBtn-bg-color: #ddd;
  --underline-color: #ddd;
  transition-duration: 1.5s;

  a {
    color: #ddd;
    transition-duration: 2.5s;
  }
}

@media(prefers-color-scheme) {
  :root {
    --bg-color: #333;
    --text-color: #fff;
    --header-bg-color: #222;
    --openBtn-bg-color: #203533;
    --underline-color: #203533;
    transition-duration: 1.5s;
  }
}

body.light-theme {
  --bg-color: #F4F5F7;
  --text-color: #333;
  --header-bg-color: #eee;
  transition-duration: 1.5s;
}


body::-webkit-scrollbar {
  display: none;
}

.toggle-switch-button {
  position: absolute;
  z-index: 100;
  right: 1px;
}

.bg-primary {
  background: #F8F7F1;
}

.innerWidth {
  @media (min-width: $xxl) {
    max-width: 1680px;
    margin: auto;
  }

  width: 100%;
}

.paddings {
  padding: 60px 100px;

  @media (max-width: $sm) {
    padding: 30px 24px;
  }
}

.HeaderPaddings {
  padding: 60px 100px 0px;

  @media (max-width: $sm) {
    padding: 30px 24px 0px;
  }
}

.aboutPaddings {
  padding: 90px 100px 50px;

  @media (max-width: $sm) {
    padding: 0px 24px 10px;
  }
}

.footerPaddings {
  padding: 0px 100px 30px;

  @media (max-width: $sm) {
    padding: 0px 24px 20px;
  }
}

.darkModeBtnPaddings {
  padding-top: 60px;
  padding-right: 100px;

  @media (max-width: $sm) {
    padding-top: 30px;
    padding-right: 24px;
  }
}


.primaryText {
  @media (max-width: $sm) {
    font-size: 2rem;
    letter-spacing: 5px;
  }

  font-family: 'Inika',
  serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 14px;
}

.secondaryText {
  @media (max-width: $sm) {
    font-size: 1.1rem;
    line-height: 40px;
  }

  font-family: 'Inika',
  serif;
  line-height: 50px;
  font-size: 2rem;
  font-weight: 500;
  margin-top: -10px;
}
