@import '../../styles/contants.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  animation: fadeIn 2.5s ease 0s 1 normal;

  @media (max-width:$sm) {
    flex-wrap: wrap;
  }

  .aboutBox {
    white-space: pre-wrap;

    @media(max-width: $sm) {
      margin: 50px 0px 0px;
      font-size: 12px;
    }

    .profileContainer {
      margin-top: 20px;


      .profileText {
        display: flex;
        align-items: center;

        @media(max-width :$sm) {
          display: -webkit-box;
          flex-wrap: wrap;
        }

        .profileBox {
          margin-right: 9%;

          .profTop {
            display: flex;
            justify-content: space-between;

            @media (max-width:$lg) {
              flex-wrap: wrap;
            }

            .profileName_ja {
              font-size: 32px;
              letter-spacing: 3.2px;

              @media(max-width: $sm) {
                font-size: 21px;
                letter-spacing: 2.1px;
              }
            }

            .profileName_en {
              letter-spacing: 1.6px;

              @media(max-width: $sm) {
                font-size: 14px;
                letter-spacing: 1.4px;
              }
            }

            .introduction {
              letter-spacing: 1.6px;
              margin: 36px 0px 10px;

              @media(max-width: $sm) {
                font-size: 12px;
                letter-spacing: 1.2px;
              }
            }

            img {
              width: 275px;

              @media(max-width: $sm) {
                position: absolute;
                width: 140px;
                height: auto;
                right: 24px;
              }
            }
          }
        }

        .profileBody {
          margin-top: 68px;
          letter-spacing: 1.6px;
          line-height: 190%;

          @media(max-width: $sm) {
            font-size: 14px;
            letter-spacing: 1.4px;
            margin: 30px 0px 50px;
          }
        }

        .careerImg {
          @media(max-width: $sm) {
            padding: 30px 0px 50px;
            margin: 0 auto;
            display: block;
            width: 280px;
          }
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }


  .footer {
    color: #FFF;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 70px 0px 50px;

    .textBox {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;

      @media(max-width: $lg) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0px;
      }

      h2 {
        font-family: 'Inika', serif;
        font-weight: 500;
        margin-bottom: 20px;
      }

      .readText {
        width: 90%;
        font-size: 12px;
        letter-spacing: 3.5px;
        white-space: pre-wrap;

        @media(min-width: $lg) {
          padding-right: 50px;
        }
      }

      .contactBox {
        text-align: center;

        .leadText {
          font-size: 16px;
          letter-spacing: 1.6px;

          @media(max-width: $lg) {
            font-size: 14px;
            padding-top: 60px;
          }
        }

        .mailAddress {
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 2px;
          padding: 21px 59px;
          margin-top: 24px;

          @media(max-width: $sm) {
            font-size: 16px;
            padding: 15px 30px;
          }
        }
      }
    }

    &.darkTheme {
      background-color: #c7c552;
      transition-duration: 1.5s;
      color: #000;

      .readText {
        color: #000;
      }

      .contactBox {
        color: #000;
      }

      .mailAddress {
        background: #dee112;
      }
    }

    &.lightTheme {
      background-color: #182D25;
      transition-duration: 1.5s;

      .mailAddress {
        background: #3F9877;
      }
    }
  }
}
