@import '../../styles/contants.scss';

/* Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  animation: fadeIn 2.5s ease 0s 1 normal;

  @media (max-width:$sm) {
    flex-wrap: wrap;
  }

  .profTop {
    display: flex;
    justify-content: space-between;

    img {
      width: 275px;

      @media(max-width:$sm) {}
    }
  }

  .careerImg {
    width: 300px;

    @media(max-width: $sm) {
      display: none;
    }
  }

  .aboutBox {
    // margin: 0px 30px;
    white-space: pre-wrap;

    @media(max-width: $sm) {
      margin: 50px 0px 0px;
      font-size: 12px;
      // background-image: url(/public/経歴デザイン.PNG);
    }
  }

  .profileContainer {
    margin-top: 20px;

    .profileText {
      display: flex;
      margin-top: 50px;

      @media(max-width :$sm) {
        display: -webkit-box;
      }

      .profileBox {
        margin-right: 9%;
      }

      p {
        margin: 5px 0;
      }

      .profileName_ja {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 3.2px;

        @media(max-width: $sm) {
          font-size: 21px;
          font-weight: 400;
          letter-spacing: 2.1px;
        }
      }

      .profileName_en {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.6px;

        @media(max-width: $sm) {
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 1.4px;
        }
      }

      .introduction {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.6px;
        margin-top: 36px;

        @media(max-width: $sm) {
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 1.2px;
        }
      }

      .profileBody {
        margin-top: 68px;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.6px;

        @media(max-width: $sm) {
          font-size: 12px;
          letter-spacing: 1.2px;
          margin: 30px 0px 50px;
        }
      }
    }

    img {
      @media(max-width: $sm) {
        position: absolute;
        width: 140px;
        height: auto;
        right: 24px;
      }
    }
  }

  footer {
    background: #182D25;

    h2 {
      color: #FFF;
      font-family: Inika;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 2px;
      padding-top: 30px;
    }

    .textBox {
      padding: 20px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media(max-width: $sm) {
        justify-content: center;
      }

      .readText {
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.5px;
        white-space: pre-wrap;
      }

      .contactBox {
        text-align: center;
        color: #FFF;

        .leadText {
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.6px;

          @media(max-width: $sm) {
            font-size: 14px;
            padding-top: 30px;
          }
        }

        .mailAddress {
          font-size: 20px;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 2px;
          background: #3F9877;
          padding: 21px 59px;
          margin-top: 24px;

          @media(max-width: $sm) {
            font-size: 16px;
            padding: 15px 30px;
          }
        }
      }
    }


  }
}
